container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_chown_sqlitedb:
        command: "sudo chown wsgi db.sqlite3"
        leader_only: true
    03_createsuperuser:
        command: "python manage.py loaddata users.json"
        leader_only: true
    04_collectstatic:
        command: "python manage.py collectstatic"
    05_genre:
    	command: "python manage.py loaddata genre.json"
    	leader_only: true
    06_actor:
    	command: "python manage.py loaddata actor.json"
    	leader_only: true
    07_movie:
    	command: "python manage.py loaddata movie.json"
    	leader_only: true
    08_score:
    	command: "python manage.py loaddata score.json"
    	leader_only: true
