{% extends 'base.html' %}

{% block style %}
<style>
    div.top{
        width:700px;
        height:500px;
        background-color:#eee;
        background-image:url("/media/12329029.jpg");
        background-size:100%100%;
        text-align:center;
    }
    div.con{
        width:100%;
        height:700px;
    }
    div.contain{
        padding:10px;
        text-align:right;
        margin-right:25px;
    }
    div.fieldWrapper{
        margin-top:15px;
        margin-bottom:15px;
    }
    div.welcom{
        width:100%;
        height:70px;
    }

    select[name="date_of_birth_year"]{
        width:99px;
        height:30px;
        border-radius:4px 0px 0px 4px;
    }
    select[name="date_of_birth_month"]{
        width:69px;
        height:30px;
    }
    select[name="date_of_birth_day"]{
        width:45px;
        height:30px;
        border-radius:0px 4px 4px 0px;
    }
    
    h3{
        height: 60px;
        line-height: 60px;
        font-size: 30px!important;
        color: #eee;
        /*letter-spacing: 3px;*/
        text-align: center;
    }
    h5{
        margin-top:13px;
        margin-left:38px;
        font-size:0.9rem;
        color:red;
    }
	input[type="text"]{
	    width:213px!important;
	    height:30px;
	    border:2px solid #ddd;
	    border-radius:4px;
	    padding:2px 4px;
	    line-height:17px;
	    
	}
	input[type="password"]{
	    width:213px!important;
	    height:30px;
	    border:2px solid #ddd;
	    border-radius:4px;
	    padding:2px 4px;
	    line-height:17px;
	   
	}
	
    label[for="id_username"] {
        font-size:16px;
        margin:0;
        color:orange;
        font-weight:400;
    }
    label[for="id_password1"] {
        font-size:16px;
        margin:0;
        color:orange;
        font-weight:400;
    }
    label[for="id_password2"] {
        font-size:16px;
        margin:0;
        color:orange;
        font-weight:400;
    }
    label[for="id_date_of_birth_year"] {
        font-size:16px;
        margin:0;
        color:orange;
        font-weight:400;
    }
    ul.errorlist{
        position: relative;
        right:30px;
        bottom:4px;
    }
    
    ul.errorlist>li{
        list-style:none;
        margin:0px;
        font-size: 16px;
        position: absolute;
        z-index: 1;
        padding-left: 5px;
        width: 390px;
        color: red;
        font-weight: 700;
    }
    
    form{
        width:700px;
    }
    .gg{
        width:2px;
    }
	.tdd{
        background-color:black;
    }
    .tde{
        background-color:#630808;
    }
    input[type="checkbox"]{
	    /*margin-top:7px;*/
	    position:relative;
	    top:4px;
	    margin-right:7px;
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid #bcbcbc;
		cursor: pointer;
	}
	input[type="checkbox"]:checked{
		background-color: #666666;
	}
    
</style>
{% endblock %}


{% block body %}
<div id="app">
<!--<button class="button btn-primary">Add</button>-->
<!--<button class="button btn-primary">remove</button>-->
<br>
<div class="d-flex justify-content-center"> <div class="top"></div></div>
<br>

<h3> 회원가입 페이지입니다. </h3>
<div class="d-flex justify-content-center con" id="app">
    <form method = "POST">
        {% csrf_token %}
        {% for field in user_form %}
            <table style="border-collapse: collapse;">
                <th style="font-size:16px;font-weight:300;width:16em;padding-right:10px;text-align:right;padding:12px 10px 10px 2px;vertical-align:top;">
                    <span style="color:red;margin-right:1px">*</span>{{ field.label_tag }}
                </th>
                <td style="padding:10px 2px;margin-right:10px;">
                    {{ field }}
                </td>
                <td class="gg">
                    {{field.errors}}
                    
                    <!--<ul class="errorlist">-->
                    <!--    <li v-if="uid.length < 3||uid.length > 15">3글자이상 15글자 이하여야 되어요</li>-->
                    <!--    <li v-else></li>-->
                    <!--</ul>-->
                    </div>
                </td>
            </table>
        {% endfor %}<br>
            
        <h3>장르선택 <span style="color:#ddd;font-size:20px;"> (다중선택 가능)</span></h3>
  
        <div class="d-flex justify-content-center">
            <table border="1" bordercolor="#121111" style="width:200%;">
            {% for genre in genres %}
                {% if genre.id == 6 or genre.id == 12 or genre.id == 18 or genre.id == 24%}
                <tr>
                </tr>
                {% elif genre.id == 26 %}
                <div>
                    <td class="tde" style="width:100px;height:50px;">
                    <input type="checkbox" name="gen" value="{{genre}}" id="{{genre}}"><label for="{{genre}}" style="margin:0;postion:relative;bottom:1px;">{{genre}}</label>
                    </td>
                </div>
                <div>
                </div>
                {% else %}
                    <td class="tdd" style="width:100px;height:50px;padding:5px">
                    <input type="checkbox" name="gen" value="{{genre}}" id="{{genre}}" ><label for="{{genre}}" style="margin:0;postion:relative;bottom:1px;">{{genre}}</label>
                    </td>
                {% endif %}
            {% endfor %}
            </table>
        </div>
        <br>
        <div class="d-flex justify-content-center fieldWrapper" style="margin-top:20px;">
        <input type="submit" value="가입" class="btn btn-danger btn-lg btn-block" style="width:213px;height:40px;font-size:16px;padding:4px 8px;">
        </div>
        </form>
    </div>
</div>


{% endblock %}

<!--자바스크립트코드-->
{% block script %}
<script>
    // let getyear = document.getElementById('id_date_of_birth_year').value
    // let getmonth = document.getElementById('id_date_of_birth_month').value
    // let getday = document.getElementById('id_date_of_birth_day').value
    // console.log(getyear)
    // console.log(getmonth)
    // console.log(getday)
    
    
    const app = new Vue({
        el:'#app',
        data:{
            tests:'',
            uid:'',
            gety:'',
        },
    })
    // console.log
</script>
{% endblock %}
<!--자바스크립트코드 끝-->
